body{
  margin: 0;
  padding: 0;
  width: 400px;
}


.header{
  height: 100px;
  width: 400px;
  background-color: #141f40;
}

.main-left{
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
}

.main-right{
  height: 250px;
  width: 250px;
  background-color: #8c2727;
}


.footer{
  height: 100px;
  width: 400px;
  background-color: #d98d30;
}
